<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova entrega para você, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Informações do destinatário:</strong>
  <p>
    <strong>Destinatário: </strong> {{ name }} <br />
    <strong>Estado: </strong> {{ state }} <br />
    <strong>Cidade: </strong> {{ city }} <br />
    <strong>Bairro: </strong> {{ neighborhood }} <br />
    <strong>Rua: </strong> {{ street }} <br />
    <strong>Número: </strong> {{ street_number }} <br />
    <strong>Complemento: </strong> {{ complement }} <br />
    <strong>Código postal: </strong> {{ zip_code }} <br />
  </p>
  <br />
  <small>
    O produto já está disponível para retirada!
  </small>
</p>
